<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="com/pojo/ReceiptPerson.xml" />
		<mapper resource="com/pojo/Area.xml" />
		<mapper resource="com/pojo/City.xml" />
		<mapper resource="com/pojo/FrontUser.xml" />
		<mapper resource="com/pojo/Province.xml" />
		<mapper resource="com/pojo/GoodInfo.xml" />
		<mapper resource="com/pojo/GoodStyle.xml" />
		<mapper resource="com/pojo/OrderInfo.xml"></mapper>
		<mapper resource="com/pojo/OrderDetail.xml"></mapper>
		<mapper resource="com/pojo/ExpressSelect.xml"></mapper>
	</mappers>
</configuration>